<div ng-controller="logListCtrl">
    <div>
        <input class="filter" type="text" ng-model="filter"
               placeholder="Type to filter the log messages from the list displayed below"/>
        <select  ng-model="level" ng-change="updateCriteria(level)">
            <option value="">
                All
            </option>
            <option value="info">
                Info
            </option>
            <option value="warn">
                Warn
            </option>
            <option value="debug">
                Debug
            </option>
            <option value="error">
                Error
            </option>
        </select>
    </div>
    <react-component name="LogList" props="{list: logs, filter: filter, isEndOfList: endOfRecords}"></react-component>
</div>
