<div ng-controller="logListCtrl">
    <div>
        <input class="filter" type="text" ng-model="filter"
               placeholder="Type to filter the log messages from the list displayed below"/>
        <select  ng-model="level" ng-change="updateCriteria(level)">
            <option value="">
                All
            </option>
            <option value="info">
                Info
            </option>
            <option value="warn">
                Warn
            </option>
            <option value="debug">
                Debug
            </option>
            <option value="error">
                Error
            </option>
        </select>
    </div>
    <label for="module_toggle">Module</label>
    <input type="checkbox" id="module_toggle" ng-model="module_toggle" value="" ng-change="toggleHiddenField('module')" />
    <label for="thread_toggle">Thread</label>
    <input type="checkbox" id="thread_toggle" ng-model="thread_toggle" value="" ng-change="toggleHiddenField('thread')" />
    <button type="button" name="exportLogs" ng-click="exportLogs()">Export</button>
    <react-component name="LogList" props="{list: logs, filter: filter, isEndOfList: endOfRecords, hiddenFields: hiddenFields}"></react-component>
    <button type="button" name="loadMore" ng-show="!endOfRecords" ng-click="list()">More</button>
</div>
