<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!-- Bower Dependencies -->
    <script type="application/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="application/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="application/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="application/javascript" src="/bower_components/react/react.min.js"></script>
    <script type="application/javascript" src="/bower_components/react/react-dom.min.js"></script>
    <script type="application/javascript" src="/bower_components/ngReact/ngReact.min.js"></script>
    <!-- Application Styles -->
    <link type="text/css" rel="stylesheet" href="../stylesheets/style.css"/>
    <!-- Application Scripts -->
    <script type="application/javascript" src="/scripts/app.js"></script>
    <script type="application/javascript" src="/scripts/controller/auth.js"></script>
    <script type="application/javascript" src="/scripts/controller/log_list.js"></script>
    <script type="application/javascript" src="/scripts/component/log_list.js"></script>
    <!-- <script type="application/javascript" src="/scripts/message_worker.js"></script> -->
</head>
<body ng-app="log-visualiser">
  <div ui-view>
  </div>
  <script>
    // var locationHash = location.hash.split('/');
    // var userId = locationHash[ locationHash.length - 1 ];
    // var worker = new Worker('/scripts/message_worker.js?userId=' + userId);
    // worker.postMessage({ id: userId });
    // worker.addEventListener('message', function(e) {
    //   console.log('Recieved', e.data);
    // });
  </script>
</body>
</html>
